---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?fields=title,isbn,publisher&limit=5&place=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.042 TT 0 0.043"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 4,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "isbn": [
                        "9780449149478",
                        "0449149471"
                    ],
                    "publisher": [
                        "Fawcett"
                    ],
                    "title": "Murder Mile High (Liz Sullivan Mysteries)"
                },
                {
                    "publisher": [
                        "original -Thomas Y. Crowell Co., 1943"
                    ],
                    "title": "Meet the Malones"
                },
                {
                    "isbn": [
                        "0615423906",
                        "9780615423906"
                    ],
                    "publisher": [
                        "Denver Health Foundation"
                    ],
                    "title": "Healers and hellraisers"
                },
                {
                    "publisher": [
                        "Hunting For Bears Genealogical Society and Library"
                    ],
                    "title": "Denver County Colorado Marriage Index 1873-1939"
                }
            ],
            "num_found": 4,
            "q": "",
            "offset": null
        }
  recorded_at: Mon, 05 Aug 2024 15:55:26 GMT
recorded_with: VCR 6.2.0
