---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=<WEATHER_API_KEY>&q=39.48221,%20-106.04645
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999986'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/05/2024 02:07:24'
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e1a8150175bb50dd08845582f1a28978
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Breckenridge","region":"Colorado","country":"United
        States of America","lat":39.48,"lon":-106.05,"tz_id":"America/Denver","localtime_epoch":1722823554,"localtime":"2024-08-04
        20:05"},"current":{"last_updated":"2024-08-04 20:00","temp_f":49.5,"is_day":1,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"humidity":84,"feelslike_f":49.4,"vis_miles":5.0,"uv":3.0}}'
  recorded_at: Mon, 05 Aug 2024 02:07:24 GMT
recorded_with: VCR 6.2.0
