---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=<WEATHER_API_KEY>&q=39.48221,%20-106.04645
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999986'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/05/2024 02:11:03'
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 58486f17d2994246d807a257222662e8
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Breckenridge","region":"Colorado","country":"United
        States of America","lat":39.48,"lon":-106.05,"tz_id":"America/Denver","localtime_epoch":1722823773,"localtime":"2024-08-04
        20:09"},"current":{"last_updated":"2024-08-04 20:00","temp_f":49.5,"is_day":1,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"humidity":84,"feelslike_f":49.4,"vis_miles":5.0,"uv":3.0},"forecast":{"forecastday":[{"date":"2024-08-04","day":{"maxtemp_f":72.6,"mintemp_f":46.8,"avgtemp_f":55.3,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189}},"astro":{"sunrise":"06:07
        AM","sunset":"08:13 PM"},"hour":[{"time":"2024-08-04 00:00","temp_f":50.8,"is_day":0,"condition":{"text":"Clear
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000}},{"time":"2024-08-04
        01:00","temp_f":49.3,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000}},{"time":"2024-08-04
        02:00","temp_f":48.3,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000}},{"time":"2024-08-04
     [...]
